# .coveragerc to control coverage.py
[run]
#branch = True

source = ls.joyous

omit =
    setup.py
    shell.py
    runtests.py
    ls/joyous/_version.py
    */tests/*
    */migrations/*


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    return NotImplemented

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True
