# https://github.com/linuxsoftware/ls.joyous

dist: xenial

language: python

env:
 - WAGTAIL_VERSION=2.3
 - WAGTAIL_VERSION=2.4
 - WAGTAIL_VERSION=2.5.1

python:
  - "3.5"
  - "3.6"
  - "3.7"

install:
  - pip install -r requirements.txt
  - pip install wagtail==$WAGTAIL_VERSION

script:
  - ./runtests.py --coverage

after_success:
  - coveralls
