Django
wagtail

django-timezone-field
num2words
holidays
icalendar
python-dateutil

django-beautifulsoup-test
coverage
coveralls
freezegun

Sphinx
sphinx_rtd_theme
# sphinxcontrib-spelling
# pyenchant
# sphinx-autobuild
