{% load joyous_tags %}

<div class="events-this-week">
  <h3>This Week</h3>
  <div class="events">
    {% for evod in events %}
      <div class="day {% if evod.date < today %} in-past{% elif evod.date == today %} today{% endif %}">
        <div class="event-day" {% if evod.date == today %}title="Today"{% endif %}>
            <h4>{{evod.date|date:"l"}}</h4>
            {{evod.date|date:"jS M"}}
        </div>
        <div class="days-events">
          {% if evod.holiday %}
            <div class="holiday">
              {{ evod.holiday }}
            </div>
          {% endif %}
          {% for title, event in evod.continuing_events %}
            <a href="{{event.url}}" class="event event-continues">
              {{title}} cont.
            </a>
          {% endfor %}
          {% for title, event in evod.days_events %}
            <a href="{{event.url}}" class="event">
              {{event.at}}
              {{title}}
            </a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  {% if calendarUrl %}
  <div class="calendar-link">
    <a href="{{ calendarUrl }}">{{ calendarName }}</a>
  </div>
  {% endif %}
</div>
