{% extends "joyous/calendar_base.html" %}
{% load wagtailcore_tags %}

{% block events_view %}
<div class="events-view">
  <a class="together list" href="{{ listUrl }}">List View</a> |
  <a class="together weekly" href="{{ weeklyUrl }}">Weekly View</a> |
  <a class="together monthly" href="{{ thisMonthUrl }}">This Month</a>
</div>
{% endblock events_view %}

{% block cal_heading %}
<tr class="heading">
  <th colspan="7" class="month">
    <span class="month-heading">
      {% if prevMonthUrl %}
      <a title="Previous month" rel="nofollow" href="{{ prevMonthUrl }}">&lt;</a>
      {% endif %}
      <div class="month-name">{{ monthName }}</div>
      {% if nextMonthUrl %}
      <a title="Next month" rel="nofollow" href="{{ nextMonthUrl }}">&gt;</a>
      {% endif %}
    </span>
    <span class="year-heading">
      {% if prevYearUrl %}
      <a title="Previous year" rel="nofollow" href="{{ prevYearUrl }}">&lt;</a>
      {% endif %}
      <div class="year-number">{{ year }}</div>
      {% if nextYearUrl %}
      <a title="Next year" rel="nofollow" href="{{ nextYearUrl }}">&gt;</a>
      {% endif %}
    </span>
  </th>
</tr>
{% endblock cal_heading %}

{% block cal_body %}
<tbody class="monthly-view">
  {% for week in events %}
  {% block cal_week %}
  <tr>
    {% for evod in week %}
      {% include "joyous/includes/calendar_month_day.html" %}
    {% endfor %}
  </tr>
  {% endblock cal_week %}
  {% endfor %}
</tbody>
{% endblock cal_body %}
