{% extends "joyous/calendar_base.html" %}
{% load wagtailcore_tags i18n %}

{% block events_view %}
{% include "joyous/includes/events_view_choices.html" with weeklyUrl=thisWeekUrl weeklyLink=_("This Week") %}
{% endblock events_view %}

{% block cal_heading %}
<tr class="heading">
  <th colspan="7" class="week">
    <span class="week-heading">
      {% if prevWeekUrl %}
      <a title="{% trans 'Previous week' %}" rel="nofollow" href="{{ prevWeekUrl }}">&lt;</a>
      {% endif %}
      <div class="week-name">{{ weekName }}</div>
      {% if nextWeekUrl %}
      <a title="{% trans 'Next week' %}" rel="nofollow" href="{{ nextWeekUrl }}">&gt;</a>
      {% endif %}
    </span>
    <span class="year-heading">
      {% if prevYearUrl %}
      <a title="{% trans 'Previous year' %}" rel="nofollow" href="{{ prevYearUrl }}">&lt;</a>
      {% endif %}
      <div class="year-number">{{ year }}</div>
      {% if nextYearUrl %}
      <a title="{% trans 'Next year' %}" rel="nofollow" href="{{ nextYearUrl }}">&gt;</a>
      {% endif %}
    </span>
  </th>
</tr>
{% endblock cal_heading %}

{% block cal_body %}
<tbody class="weekly-view">
  {% for week in events %}
  {% block cal_week %}
  <tr>
    {% for evod in week %}
      {% include "joyous/includes/calendar_week_day.html" %}
    {% endfor %}
  </tr>
  {% endblock cal_week %}
  {% endfor %}
</tbody>
{% endblock cal_body %}
