{% extends "joyous/joyous_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
{% with event=page.overrides %}
  <div class="content">
    <div class="event clearfix">
      {% if page.status %}
      <div class="event-status">
        {{ page.status_text }}
      </div>
      {% endif %}
      {% if page.cancellation_title %}
        <h1 class="event-heading">{{ page.cancellation_title }}</h1>
      {% else %}
        <h1 class="event-heading">{{ event.title }}</h1>
      {% endif %}
      <div class="event-image">
        {% image event.image width-350 %}
      </div>
      {% include "joyous/includes/who_when_where.html" with event=page %}
      <div class="event-cancellation-details">
        {{ page.cancellation_details|richtext }}
      </div> 
    </div>
    <div class="event-overrides event-index">
      <a class="overrides" href="{% pageurl event %}">See also <div class="item-heading">other occurences</div> of this event.</a>
    </div>
  </div>
{% endwith %}
{% endblock %}
