{% extends "joyous/exception_base.html" %}
{% load wagtailcore_tags %}

{% block event_title %}
  <div class="joy-title joy-title--page">
{% if page.extra_title %}
    <h1>{{ page.extra_title }}</h1>
{% else %}
    <h1>{{ overrides.title }}</h1>
{% endif %}
  </div>
{% endblock event_title %}

{% block event_details %}
  <div class="joy-ev-extra joy-field">
    {{ page.extra_information|richtext }}
  </div>
  <div class="joy-ev-details joy-field">
    {{ overrides.details|richtext }}
  </div>
{% endblock event_details %}
