{% load wagtailcore_tags joyous_tags i18n %}
{% block calendar_week_day %}
{% if evod %}
<td class="{{ evod.weekday }} day{% if evod.date == today %} today{% elif evod.date == yesterday %} yesterday{% elif evod.date == lastweek %} lastweek{% endif %}">
  {% if evod.holiday %}
  <div class="day-title holiday">
      <h4>{{ evod.date|date:"j M" }}</h4>
      <div class="holiday-name">
      {{ evod.holiday }}
      </div>
  </div>
  {% else %}
  <div class="day-title">
      <h4>{{ evod.date|date:"j M" }}</h4>
  </div>
  {% endif %}

  {% block days_events %}
  <div class="days-events">
    {% for title, event, url in evod.continuing_events %}
      <a href="{{ url }}" class="event event-continues">
        <span class="event-title">{{title}} {%trans "cont." %}</span>
      </a>
    {% endfor %}
    {% for title, event, url in evod.days_events %}
      <a href="{{ url }}" class="event">
        <span class="event-time">{{event.at}}</span><span class="event-title">{{title}}</span>
      </a>
    {% endfor %}
  </div>
  {% endblock days_events %}
</td>
{% else %}
<td class="noday">&nbsp;</td>
{% endif %}
{% endblock calendar_week_day %}
